button {
    margin: 20px;
    padding: 15px 50px;
    font-family: flink;
    font-size: 12pt;
    background-color: #178af0;
    color: #f4f3f2;
    border: none;
    transition: background-color 200ms linear;
}

button:hover {
    cursor: pointer;
    background-color: #88e6dc;
}

@media only screen and (max-width: 999.9px) {
    .desktop {
        display: none;
    }

    button {
        border-radius: 50%;
        padding: 0px;
        margin: 50px;
        width: 150px;
        height: 150px;
    }

    .mobile {
        font-size: 60pt;
    }
}

@media only screen and (min-width: 1000px) {
    .mobile {
        display: none;
    }
}