body {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-width: 1000px;
    background-color: #dbdbdb;
}

.flex {
    max-height: 500px;
    padding: 0px 0px 35px 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
}

p {
    font-family: futuraLight;
    font-size: 13pt;
}

img {
    border: solid 4px #fafafa;
    width: auto;
}

.card {
    margin-left: 20px;
    border: solid 4px #fafafa;
    width: 450px;
}

.infoBox {
    background-color: #fafafa;
}

.infoHeader {
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 16pt;
    color: #178af0;
}

.email {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.phone {
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.formBox {
    background-color: #28d9c7;
    margin-bottom: 4px;
    margin-top: 75.949px;
}

.formFlex {
    margin: 20px 20px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
}

.oneLine {
    width: 195px;
    height: 20px;
    margin: 2px;
}

.multiLine {
    margin: 2px;
    width: 195px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #232b2b;
    resize: none;
    border: 2px solid #d2d2d2;
    text-indent: 10px;
}

input[type=text] {
    border: 2px solid #d2d2d2;
    background-color: #fafafa;
    color: #232b2b;
    text-indent: 10px;
    height: 21px;
}

.desktop {
    float: right;
    margin-right: 20px;
    border: none;
    background-color: #e13a44;
    color: #fafafa;
    padding: 7px 30px;
    margin-top: -55px;
    margin-bottom: 50px;
}

.mobile {
    background-color: #e13a44;
    width: 800px;
    height: 100px;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 36pt;
    border: 2px solid #e13a44;
    box-sizing: border-box;
}

.container {
    border-top: solid 2px #d2d2d2;
    border-bottom: solid 2px #d2d2d2;
    min-width: 1000px;
}

.contactHeader {
    margin-left: 35px;
    margin-top: 0px;
    padding-top: 20px;
    font-size: 24pt;
    color: #178af0;
    margin-bottom: 10px;
}

.blocker {
    flex-basis: 100%;
    width: 0;
}

.hRule {
    margin: 20px;
}

@media only screen and (max-width: 999.9px) {
    .flex {
        max-height: none;
        width: 100%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactHeader {
        font-size: 60pt;
    }

    img {
        margin-left: 40px;
        margin-right: 40px;
        width: 900px;
    }

    .card {
        margin-left: 40px;
        margin-right: 40px;
        width: 900px;
    }

    body {
        margin: 0px;
    }

    .infoBox {
        margin-top: 30px;
    }

    .infoHeader {
        font-size: 56pt;
        margin-left: 50px;
    }

    .infoText {
        font-size: 40pt;
        margin-left: 50px;
    }

    .email {
        margin-top: 30px;
    }

    .phone {
        margin-bottom: 50px;
    }

    .formBox {
        margin-top: 30px;
    }

    .formFlex {
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .blocker {
        display: none;
    }

    .hRule {
        display: none;
    }

    input[type=text] {
        width: 800px;
        height: 100px;
        margin: 10px;
        font-size: 36pt;
        box-sizing: border-box;
    }

    .multiLine {
        margin: 10px;
        width: 800px;
        height: 300px;
        font-size: 36pt;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .mobile {
        display: none;
    }
}