<div class="container">

    <body>
        <p class="contactHeader">
            Contact</p>
        <div class="flex">
            <div>
                <img src="assets/contact-us.avif" alt="image of drywall work">
            </div>
            <div class="card infoBox">
                <p class="infoHeader">Sand Star Services
                </p>
                <p class="infoText email">
                    info&#64;sandstarservices.com</p>
                <p class="infoText phone">Tel: (409)-256-8334
                </p>
            </div>

            <div class="card formBox">
                <hr class="hRule">
                <form [formGroup]="contactForm">
                    <div class="formFlex">
                        <div>
                            <input class="oneLine" type="text" formControlName="name" placeholder="Name">
                        </div>
                        <div>
                            <input class="oneLine" type="text" formControlName="email" placeholder="Email">
                        </div>
                        <div>
                            <input class="oneLine" type="text" formControlName="phone" placeholder="Phone">
                        </div>
                        <div class="blocker"></div>
                        <div>
                            <textarea class="multiLine" formControlName="message" placeholder="Message"></textarea>
                        </div>
                        <div>
                            <input class="mobile" type="submit">
                        </div>
                    </div>
                    <input class="desktop" type="submit">
                </form>
            </div>
        </div>
    </body>
</div>