<div style="border-top: solid 2px #d2d2d2; border-bottom: solid 2px #d2d2d2;">
    <body>
        <p style="margin-left: 35px; margin-top: 0px; padding-top: 20px; font-size: 24pt; color: #178af0; margin-bottom: 10px;">Contact</p>
        <div class="flex">
            <div>
                <img src="assets/contact-us.avif" alt="image of drywall work">
            </div>
            <div class="card infoBox">
                <p style="margin-bottom: 0px; margin-left: 15px; font-size: 16pt; color: #178af0;">Sand Star Services</p>
                <p style="margin-top: 10px; margin-bottom: 0px; margin-left: 15px;">info&#64;sandstarservices.com</p>
                <p style="margin-top: 0px; margin-left: 15px; margin-bottom: 30px;">Tel: (409)-256-8334</p>
            </div>
            
            <div class="card formBox">
                <hr style="margin: 20px;">
                <form [formGroup]="contactForm">
                    <div class="formFlex">
                        <div>
                            <input class="oneLine" type="text" formControlName="name" placeholder="Name">
                        </div>
                        <div>
                            <input class="oneLine" type="text" formControlName="email" placeholder="Email">
                        </div>
                        <div>
                            <input class="oneLine" type="text" formControlName="phone" placeholder="Phone">
                        </div>
                            <div style="flex-basis: 100%; width: 0;"></div>
                        <div>
                            <textarea class="multiLine" formControlName="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</div>
