.picture {
    width: 63%;
    height: auto;
}

.text {
    width: 37%;
    background-color: #dbdbdb;
}

.header {
    margin-left: 80px;
    margin-top: 80px;
    font-family: remora;
    font-size: 40pt;
    color: #232b2b;
}

p {    
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #232b2b;
    font-size: 13pt;
    width: 300px;
}

.link:hover {
    cursor: pointer;
}

@font-face {
    font-family: remora;
    src: url(../../../public/assets/RemoraCorp-W3Demi.otf);
}