<div style="display: flex; flex-wrap: wrap; min-width: 1000px;">
    <div class="picture">
        <img src="assets/about-us.avif" alt="picture of man at work">
    </div>
    <div class="text">
        <p class="header">About Us</p>
        <p>Sand Star Services is a general contracting company dedicated to efficient and quality execution of
            craftsmanship. In addition to fair pricing and timelines that fit your schedule and budget, we aim to
            support local education efforts.</p>
        <p>A portion of our proceeds go to mentoring youth in the community in the trades that are connected to the
            services that we offer. By extending these opportunities, we will help students realize their full
            occupational potential without the burden of cumbersome student loans. </p>
        <p>To request services, or to schedule a quote, please visit the Contact Page linked <span (click)="onClick()"
                style="text-decoration: underline;" class="link">here</span>. We look forward to serving you.</p>
    </div>
</div>