.body {
    background-image: url("../../../public/assets/maintenance-request.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    display: block;
    min-width: 1000px;
}

.container {
    background-color: #fafafa;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 40px;
    column-gap: 50px;
}

.header {
    width: 667px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-size: 24pt;
    font-family: flink;
}

.item {
    background-color: #ffecf1;
    border: none;
    border-bottom: 2px blue solid;
}

.wide {
    grid-column: span 2;
}

.gridLabel {
    display: block;
}

input {
    width: 300px;
    height: 30px;
}

textarea {
    width: 660px;
    height: 90px;
    resize: none;
}

p,
label {
    color: blue;
    font-style: italic;
}

.radioButtons {
    width: 667px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

mat-radio-button {
    display: block;
    font-style: italic;
}

input[type=submit] {
    background-color: blue;
    color: #fafafa;
    border: solid blue 4px;
    display: block;
    margin: 30px auto;
    width: 667px;
    height: 50px;
    font-size: 12pt;
    font-style: italic;
    transition: border 200ms linear;
}

input[type=submit]:hover {
    cursor: pointer;
    border: solid #ffdae4 4px;
}

.captcha {
    width: 667px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 999.9px) {
    .container {
        width: 900px;
    }

    .grid {
        display: block;
        grid-template-columns: auto;
    }

    textarea,
    input {
        height: 100px;
        margin-bottom: 5px;
    }

    .header,
    .gridLabel,
    textarea,
    input,
    .radioButtons {
        display: block;
        width: 825px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        font-size: 48pt;
    }

    .gridLabel {
        font-size: 36pt;
    }

    mat-radio-button {
        font-size: 30pt;
    }

    .radioLabel {
        font-size: 30pt;
    }

    input[type=submit] {
        height: 120px;
        width: 325px;
        font-size: 40pt;
        margin-bottom: 60px;
    }

    .captcha {
        margin-top: 20px;
        display: block;
        width: auto;
        margin-left: 33%;
        margin-right: 33%;
    }
}