<div class="container">
    <div class="header">
        <h2>Services</h2>
        <p>Take a look at what Sand Star Services can do for you</p>
    </div>
    <div class="body">
        <div class="row" (click)="onClick('hvac')">
            <div>
                <h3>HVAC</h3>
                <p>Sand Star Services offers comprehensive HVAC solutions to keep your space comfortable year-round. Our
                    team of certified technicians provides installation, maintenance, and repair services for all types
                    of
                    heating and cooling systems.</p>
            </div>
            <img src="./assets/placeholder-images/hvac-1.jpg" />
        </div>
        <hr>
        <div class="row" (click)="onClick('roofing')">
            <div>
                <h3>Roofing</h3>
                <p>Sand Star Services provides professional roofing solutions to protect your property from the
                    elements.
                    Our team of skilled craftsmen offers installation, maintenance, and repair services for all types of
                    roofing systems.</p>
            </div>
            <img src="./assets/placeholder-images/roofing-1.jpg" />
        </div>
        <hr>
        <div class="row" (click)="onClick('electrical')">
            <div>
                <h3>Electrical</h3>
                <p>Sand Star Services delivers expert electrical solutions to power your home or business safely and
                    efficiently. Our licensed electricians provide installation, maintenance, and repair services for
                    all
                    types of electrical systems.</p>
            </div>
            <img src="./assets/placeholder-images/electrical-1.jpg" />
        </div>
        <hr>
        <div class="row" (click)="onClick('repairs')">
            <div>
                <h3>Repairs</h3>
                <p>Sand Star Services offers reliable repair solutions to keep your home or business running smoothly.
                    Our
                    skilled technicians provide prompt and professional repair services for a wide range of issues,
                    ensuring
                    your property remains safe and functional.</p>
            </div>
            <img src="./assets/placeholder-images/repairs-1.jpg" />
        </div>
        <hr>
        <div class="row" (click)="onClick('remodels')">
            <div>
                <h3>Remodels</h3>
                <p>Sand Star Services provides expert remodeling solutions to transform your home or business. Our team
                    of
                    skilled craftsmen offers design and construction services for a wide range of remodeling projects,
                    from
                    kitchen and bathroom renovations to whole-house makeovers.</p>
            </div>
            <img src="./assets/placeholder-images/remodels-1.jpg" />
        </div>
    </div>
</div>