<div class="parallax after"></div>
<div style="height:350px;background-color:#ffffff;font-size:36px">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
<div class="parallax before"></div>

<div style="height:400px; background-color: #082e50; text-align: center;">
    <p style="margin: 0; padding-top:45px;  font-size: 36px; color: #f4f3f2; font-family: sans-serif; font-weight: 10;">
        We value SAFETY, RESPONSIBILITY AND HAVING FUN</p>
    <hr style="max-width: 50px; margin-top: 30px; margin-bottom: 30px;">
    <p
        style="margin-top: 0; font-size: 18px; color: #f4f3f2; font-family: sans-serif; font-weight: 10; max-width: 550px; margin-left: auto; margin-right: auto;">
        Sand Star Services is a general contracting company dedicated to efficient and quality execution of
        craftsmanship. In addition to fair pricing and timelines that fit your schedule and budget, we aim to support
        local education efforts.
    </p>
    <p
        style="font-size: 18px; color: #f4f3f2; font-family: sans-serif; font-weight: 10; max-width: 550px; margin-left: auto; margin-right: auto;">
        A portion of our proceeds go to mentoring youth in the community in the trades that are connected to the
        services that we offer. By extending these opportunities, we will help students realize their full occupational
        potential without the burden of cumbersome student loans.
    </p>
</div>