<body>
    <div class="parallax after"></div>

    <div style="height:325px;background-color:#ffffff; text-align: center; font-size: 30px; font-family: sans-serif">
        <p style="margin-top: 40px;">Our Services</p>
        <div style="display: grid; grid-template-columns: auto auto auto auto auto; justify-content: center;">

            <div class="circleImage hvac end">
                <div class="circleImage overlay"> 
                </div>
                <p class="circleText">HVAC</p>
            </div>
            <div class="circleImage roofing in">
                <div class="circleImage overlay"> 
                </div>
                <p class="circleText">Roofing</p></div>
            <div class="circleImage electrical middle">
                <div class="circleImage overlay"> 
                </div>
                <p class="circleText">Electrical</p></div>
            <div class="circleImage repair in">
                <div class="circleImage overlay"> 
                </div>
                <p class="circleText" style="margin-top: -125px;">Repairs/ Maintenance</p></div>
            <div class="circleImage remodel end">
                <div class="circleImage overlay"> 
                </div>
                <p class="circleText">Remodels</p></div>
        </div>
    </div>

    <div class="parallax before"></div>

    <div style="height:400px; background-color: #082e50; text-align: center; font-family: futuraLight;">
        <p style="margin: 0; padding-top:45px;  font-size: 36px; color: #f4f3f2;">
            We value SAFETY, RESPONSIBILITY AND HAVING FUN</p>
        <hr style="max-width: 50px; margin-top: 30px; margin-bottom: 30px;">
        <p
            style="margin-top: 0; font-size: 18px; color: #f4f3f2; max-width: 575px; margin-left: auto; margin-right: auto;">
            Sand Star Services is a general contracting company dedicated to efficient and quality execution of
            craftsmanship. In addition to fair pricing and timelines that fit your schedule and budget, we aim to
            support
            local education efforts.
        </p>
        <p style="font-size: 18px; color: #f4f3f2; max-width: 575px; margin-left: auto; margin-right: auto;">
            A portion of our proceeds go to mentoring youth in the community in the trades that are connected to the
            services that we offer. By extending these opportunities, we will help students realize their full
            occupational
            potential without the burden of cumbersome student loans.
        </p>
    </div>
</body>