.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1000px;
}

.before {
    background-image: url("../../../public/assets/before.avif");
}

.after {
    background-image: url("../../../public/assets/after.avif");
}

.parallaxText {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 165px;
    font-family: skCuriosity;
    font-size: 30pt;
    text-align: center;
    color: #f4f3f2;
    width: 850px;
    text-shadow: 2px 2px rgb(35, 43, 43, 1);
}

button {
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    background-color: #178af0;
    color: #f4f3f2;
    border: none;
}

@font-face {
    font-family: futuraLight;
    src: url(../../../public/assets/futuralight.ttf);
}

@font-face {
    font-family: skCuriosity;
    src: url(../../../public/assets/SKCuriosity-Light.ttf);
    font-stretch: 50%
}

.circleButtons {
    height: 325px;
    background-color: #fafafa;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    min-width: 1000px;
    padding-bottom: 40px;
}

.circleImage {
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.end {
    margin-top: -60px;
}

.in {
    margin-top: 30px
}

.middle {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.circleText {
    font-size: 20pt;
    color: #f4f3f2;
    margin-top: -175px;
    background-color: rgb(35, 43, 43, 1);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    transition: background-color 0.3s;
}

.circleText:hover {
    background-color: rgb(35, 43, 43, 0);
}

.hvac {
    background-image: url("../../../public/assets/hvac.avif");
    z-index: 1;
}

.roofing {
    background-image: url("../../../public/assets/roofing.avif");
}

.electrical {
    background-image: url("../../../public/assets/electrical.avif");
}

.repair {
    background-image: url("../../../public/assets/repair.avif");
}

.remodel {
    background-image: url("../../../public/assets/remodel.avif");
}

.blueFooter {
    height: 400px;
    background-color: #082e50;
    text-align: center;
    font-family: futuraLight;
    min-width: 1000px;
}

.serviceArea {
    text-align: center;
    border-bottom: solid 2px #d2d2d2;
    background-color: #fafafa;
}