<div class="slogan">
    <p>Where People Taking Care of People Means Something</p>
</div>

<div class="parallax after">
    <p class="parallaxText">Servicing Galveston Texas and Surrounding Areas</p>
    <div style="flex-basis: 100%;"></div>
    <button (click)="onClick('assessment-request')">Schedule an Onsite Assessment</button>
</div>

<div class="property-types">
    <div class="property-box residential" (click)="onClick('residential')">
        <span class="property-title">Residential</span>
    </div>
    <div class="property-box commercial" (click)="onClick('commercial')">
        <span class="property-title">Commercial</span>
    </div>
    <div class="service-cards-container">
        <div class="header">
            <h2>Our Services</h2>
            <p>Take a look at what Sand Star has to offer</p>
        </div>
        <div class="service-card hvac" (click)="onClick('hvac')">
            <span>HVAC</span>
        </div>
        <div class="service-card roofing" (click)="onClick('roofing')">
            <span>Roofing</span>
        </div>
        <div class="service-card electrical" (click)="onClick('electrical')">
            <span>Electrical</span>
        </div>
        <div class="service-card repair" (click)="onClick('repairs')">
            <span>Repairs</span>
        </div>
        <div class="service-card remodel" (click)="onClick('remodels')">
            <span>Remodels</span>
        </div>
    </div>
</div>

<!-- <div class="circleButtons">
    <p style="margin-top: 0; padding-top: 50px;">Our Services</p>
    <div style="display: grid; grid-template-columns: auto auto auto auto auto; justify-content: center;">

        <div class="circleImage hvac end" (click)="onClick('hvac')">
            <p class="circleText">HVAC</p>
        </div>
        <div class="circleImage roofing in" (click)="onClick('roofing')">
            <p class="circleText">Roofing</p>
        </div>
        <div class="circleImage electrical middle" (click)="onClick('electrical')">
            <p class="circleText">Electrical</p>
        </div>
        <div class="circleImage repair in" (click)="onClick('repairs')">
            <p class="circleText" style="margin-top: -125px;">Repairs</p>
        </div>
        <div class="circleImage remodel end" (click)="onClick('remodels')">
            <p class="circleText">Remodels</p>
        </div>

    </div>
</div> -->

<!-- <div class="parallax before desktop"></div> -->

<div class="blueFooter">
    <p class="blueFooterHeader">
        We value SAFETY, RESPONSIBILITY AND HAVING FUN</p>
    <hr style="max-width: 50px; margin-top: 30px; margin-bottom: 30px;">
    <p style="margin-top: 0;" class="blueFooterText">
        Sand Star Services is a general contracting company dedicated to efficient and quality execution of
        craftsmanship. In addition to fair pricing and timelines that fit your schedule and budget, we aim to
        support
        local education efforts.
    </p>
    <p class="blueFooterText">
        A portion of our proceeds go to mentoring youth in the community in the trades that are connected to the
        services that we offer. By extending these opportunities, we will help students realize their full
        occupational
        potential without the burden of cumbersome student loans.
    </p>
</div>

<!-- <div class="parallax before mobile"></div> -->

<div class="serviceArea">
    <p style="font-family: futuraLight; font-size: 20pt; margin-bottom: 15px; margin-top: 0px; padding-top: 15px;">
        SERVICE AREA</p>
    <p
        style="font-family: Arial, Helvetica, sans-serif; font-weight: 600; font-size: 11pt; color: #292929; padding-bottom: 10px;">
        SANTA FE - HOUSTON - GALVESTON</p>

    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1wLlaofdg20AoBke9avL6WcLdUr8J8fE&ehbc=2E312F" width="840"
        height="400"></iframe>
</div>