.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.before {
    background-image: url("../../../public/assets/before.avif");
}

.after {
    background-image: url("../../../public/assets/after.avif");
}

@font-face {
    font-family: futuraLight;
    src: url(../../../public/assets/futuralight.ttf);
}

.circleImage {
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.end {
    margin-top: -60px;
}

.in {
    margin-top: 30px
}

.middle {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.circleText {
    font-size: 20pt;
    color: #f4f3f2;
    margin-top: -175px;
    background-color: rgb(35, 43, 43, 1);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    transition: background-color 0.3s;
}

.circleText:hover {
    background-color: rgb(35, 43, 43, 0);
}

.hvac {
    background-image: url("../../../public/assets/hvac.avif");
    z-index: 1;
}

.roofing {
    background-image: url("../../../public/assets/roofing.avif");
}

.electrical {
    background-image: url("../../../public/assets/electrical.avif");
}

.repair {
    background-image: url("../../../public/assets/repair.avif");
}

.remodel {
    background-image: url("../../../public/assets/remodel.avif");
}