<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div
    style="height: 200px; width: 1000px; display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;">
    <div style="margin-top: 45px;">
        <a href="#" class="fa fa-facebook" style="margin-left: 45px; margin-right: 2px;"></a>
        <a href="#" class="fa fa-linkedin" style="margin-right: 50px;"></a>
    </div>
    <div style="margin: auto;">
        <img src="assets/logo.avif">
    </div>
    <div style="text-align: right; font-size: 14pt; margin-top: 25px; font-family: flink;">
        <p style="margin-bottom: 0px;">(409)-256-8334</p>
        <p style="margin-top: 0px;">info&#64;SandStarServices.com</p>
    </div>
</div>
<app-toolbar></app-toolbar>